<mat-sidenav-container *ngIf="isExpanded" fixedInViewport="true" class="sidenav-container">
    <mat-sidenav-content>
      <mat-list-item color="primary">
        <button mat-raised-button color="primary" routerLink="layout/persona" routerLinkActive="active" class="boton">
          <mat-icon mat-list-icon fontIcon="person"></mat-icon>
          <h4 mat-line>Pasajeros</h4>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="primary" routerLink="layout/colectivos" routerLinkActive="active" class="boton">
          <mat-icon mat-list-icon fontIcon="directions_bus_filled"></mat-icon>
          <h4 mat-line>Colectivos</h4>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="primary" routerLink="layout/viajes" routerLinkActive="active" class="boton">
          <mat-icon mat-list-icon fontIcon="turn_sharp_right"></mat-icon>
          <h4>Viajes</h4>
        </button>
      </mat-list-item>
    </mat-sidenav-content>
</mat-sidenav-container>

